body{
  height:100vh;
}

a {
  color: #002db3;
  text-decoration: none;
}

a:visited {
  color: #002080;
}

footer {
  color: #4d4d4d;
  font-size: 1.4rem;
  height: 3.4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 1rem;
}

h1 {
  color: #193366;
  font-size: 3.9rem;
  padding-top: 3.4rem;
}

h2 {
  color: #193366;
  font-size: 3rem;
  margin-bottom: 2rem;
}

h3 {
  color: #193366;
}

li {
  padding-left: 0.8rem;
}

main {
  position: relative;
}

p {
  font-size: 1.9rem;
  text-align: justify;
  text-wrap: normal;
  padding: 0.3rem 0 0.3rem 0;
}

/* Bootstrap small */
@media (min-width: 576px) {
  p {
  font-size: 1.6rem;
  }
}

.code-block {
  font-size: 1.6rem;
  line-height: 1rem;
  text-align: left;
  background-color: #f2f2f2;
  padding: 1rem 0 0 2.2rem;
}

.container {
  position: relative;
  min-height: 100vh;
  text-align: center;
  padding: 1.5rem;
}

/* Bootstrap small */
@media (min-width: 576px) {
  .container {
  padding: 1.8rem;
  }
}

.content-wrap {
  padding-bottom: 6.8rem;    /* Footer height */
  margin: 0 -2.6rem;
}

.divider {
  font-size: 2.8rem;
  text-align: center;
  padding: 2.2rem 0 2.2rem;
}

.end-quote {
  bottom: -2.6rem;
}

.figure-caption {
  font-size: 1.5rem;
}

.first-letter {
  font-size: 2rem;
  font-family: 'Ballet', serif;
  margin-right: -0.3rem;
  padding-right: 0.6rem;
  position: relative;
  bottom: -0.1rem;
}

/* Bootstrap small */
@media (min-width: 576px) {
  .first-letter {
  font-size: 3rem;
  }
}

.first-word {
  font-size: 2rem;
  position: relative;
  bottom: -0.04rem;
  padding-right: 0.5rem;
}

.home-image {
  min-width: 175px;
  padding-top: 2rem;
  margin-bottom: -1.2rem;
}

.large-quotation-mark {
  color: darkgray;
  font-size: 4rem;
  position: relative;
}

.lead-paragraph {
  font-size: 2.3rem;
  line-height: 2.4rem;
  padding: 1.1rem 0 0.9rem 0;
  text-indent: -0.2rem;
}

/* Bootstrap small */
@media (min-width: 576px) {
  .lead-paragraph {
  font-size: 1.6rem;
  }
}

/* Bootstrap large */
@media (min-width: 992px) {
  .lead-paragraph {
  font-size: 1.7rem;
  }
}

.main-title {
  font-family: 'Special Elite', sans-serif;
  padding-top: 7rem;
}

.posted {
  color: #4d4d4d;
  font-size: 1.4rem;
  text-align: center;
}

.quote {
  background-color: #f2f2f2;
  font-family: 'Gentium Basic', serif;
  font-size: 2.1rem;
  line-height: 3rem;
  padding: 1.4rem 2.8rem 1.5rem 2.8rem;
  margin: 0.4rem 0 1.7rem 0;
  width: 80%;
  text-align: center;
}

/* Bootstrap medium */
@media (min-width: 768px) {
  .quote {
    width: 70%;
  }
}

/* Bootstrap large */
@media (min-width: 992px) {
  .quote {
    width: 60%;
  }
}

.references-header {
  font-size: 2rem;
  font-family: inherit;
  padding: 2.1rem 0 1.2rem 0;
}

.references-list {
  font-size: 1.6rem;
  text-align: left;
  list-style-type: "\2766";
}

.start-quote {
  bottom: -0.9rem;
}

.stories-list {
  font-size: 1.8rem;
  text-align: left;
  display: table;
  margin: 0 auto;
  list-style-type: "\2766";
}

.story-page-header {
  text-align: center;
  padding-top: 2rem;
  margin-left: -4rem;
}

.story-title {
  font-size: 3rem;
  margin-left: 2rem;
}
