<div class="mt-5 mx-4">
  <h3 class="pt-3">Comments</h3>

  <form method="POST" action="{{ staticman_url }}" class="w-50 text-start">
    <input name="options[redirect]" type="hidden" value="https://clairempr.github.io/">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input class="form-control" name="options[slug]" type="hidden" value="{{ page.slug }}">

    <label for="fields[name]" class="form-label my-2">Name</label>
    <input id="fields[name]" name="fields[name]" type="text" class="form-control mb-2">

    <label for="fields[email]" class="form-label my-2">E-mail</label>
    <input id="fields[email]" name="fields[email]" type="email" class="form-control mb-2">

    <label for="fields[message]" class="form-label my-2">Message</label>
    <textarea id="fields[message]" name="fields[message]" class="form-control mb-2"></textarea>

    <button type="submit" class="btn btn-outline-dark my-3 py-2">Submit</button>
  </form>
</div>