<div class="mt-5 mx-4">
  <h3 class="pt-3">Comments</h3>

  <form id="comment_form" method="POST" action="{{ staticman_url }}" class="w-75 text-start">
    <input name="options[redirect]" type="hidden" value="https://clairempr.github.io/pages/{{ html_filename }}">
    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ reCaptcha_site_key }}">
    <input type="hidden" name="options[reCaptcha][secret]" value="{{ reCaptcha_secret_key }}">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ story_title|slugify }}">

    <label for="fields[name]" class="form-label my-2">Name</label>
    <input id="fields[name]" name="fields[name]" type="text" class="form-control mb-2" required>

    <label for="fields[message]" class="form-label my-2">Message</label>
    <textarea id="fields[message]" name="fields[message]" class="form-control mb-2" required></textarea>
    <div id="reCaptcha" class="g-recaptcha" data-sitekey="{{ reCaptcha_site_key }}"
         data-callback="enableSubmitBtn"></div>
    <button id="submit_button" type="submit" class="btn btn-outline-dark my-3 py-2" disabled>Submit</button>
  </form>

    <div class="toast align-items-center start-50" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
        Comment submitted for moderation. Thanks!
       </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

</div>

<ul class="list-group list-group-flush comments mt-5 mx-4">
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>

  function enableSubmitBtn() {
    $("#submit_button").prop("disabled", false);
  }

  $(function () {
    $("#comment_form").submit(function () {
    $(".toast").toast("show");
    });

    /*
      Read a list of the comments for this page from the GitHub repo
    */
    const FilesListUrl = "{{comments_url}}{{ story_title|slugify }}/{{ comment_file_type}}_files.txt";

    $.get(FilesListUrl, function (filesList) {

      if (filesList) {
        const lines = filesList.split(/\r\n|\n/);

        const commentsElement = $(".comments");

        // Because some of this takes place asynchronously, though the comments are in order
        // in the text file, they may not be added to the DOM in order, so create a series of
        // placeholder divs that correspond to lines in the file listing, which is ordered by date/time
        for (let i = 0; i < lines.length - 1; i++) {
          commentsElement.append('<div id="' + i + '" class="comment"></div>');
        }

        for (let i = 0; i < lines.length - 1; i++) {

          const fileUrl = "{{comments_url}}{{ story_title|slugify }}/" + lines[i];

          $.get(fileUrl, function (data) {
            let comment = JSON.parse(data);

            const id = comment._id;
            const name = comment.name;
            const message = comment.message;
            const dateStr = comment.date.split('.')[0];

            // Append comment div
            let commentId = 'comment_' + id;

            commentsElement.append('<li id="' + commentId + '" class="list-group-item comment"></li>');

            // Append comment contents
            let commentElement = $("#" + commentId);
            let nameElement = '<p class="comment-name">' + name + "</p>";
            // Convert date to more readable format
            const date = new Date(dateStr);
            let dateElement = '<p class="comment-date">' + date + "</p>";
            let messageElement = '<p class="comment-message">' + message + "</p>";
            commentElement.append(nameElement, dateElement, messageElement);

            // Get the placeholder comment div to replace, to make sure comments are in order
            const placeholderDiv = $("div#" + i);
            placeholderDiv.replaceWith(commentElement);
          });

        }
      }

    });

  });
</script>