<div class="mt-5 mx-4">
  <h3 class="pt-3">Comments</h3>

  <form id="comment_form" method="POST" action="{{ staticman_url }}" class="w-50 text-start">
    <input name="options[redirect]" type="hidden" value="https://clairempr.github.io/pages/{{ html_filename }}">
    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ reCaptcha_site_key }}">
    <input type="hidden" name="options[reCaptcha][secret]" value="{{ reCaptcha_secret_key }}">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ story_title|slugify }}">

    <label for="fields[name]" class="form-label my-2">Name</label>
    <input id="fields[name]" name="fields[name]" type="text" class="form-control mb-2" required>

    <label for="fields[message]" class="form-label my-2">Message</label>
    <textarea id="fields[message]" name="fields[message]" class="form-control mb-2" required></textarea>
    <div id="reCaptcha" class="g-recaptcha" data-sitekey="{{ reCaptcha_site_key }}" data-callback="enableBtn"></div>
    <button id="submit_button" type="submit" class="btn btn-outline-dark my-3 py-2" disabled>Submit</button>
  </form>
</div>

<div class="comments mt-5 mx-4">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>

  function enableBtn(){
    alert('Got reCaptcha callback');
    $("submit_button").disabled = false;
  }

  $(function () {



    $("#comment_form").submit(function(){
      alert("Comment submitted!");
    });

    /*
      Read a list of the comments for this page from the GitHub repo
    */
    const FilesListUrl = "{{comments_url}}{{ story_title|slugify }}/{{ comment_file_type}}_files.txt";

    $.get(FilesListUrl, function (filesList) {

      if (filesList) {
        const lines = filesList.split(/\r\n|\n/);

        let prevCommentDiv = "";

        for (let i = 0; i < lines.length - 1; i++) {

          const FileUrl = "{{comments_url}}{{ story_title|slugify }}/" + lines[i];

          let comment = "";
          $.get(FileUrl, function(data){
          comment = JSON.parse(data);

          const id = comment._id;
          const name = comment.name;
          const message = comment.message;
          const dateStr = comment.date;

          // Append comment div
          let commentId = 'comment_' + id;

          if (prevCommentDiv === "") {
            $(".comments").append('<div id="' + commentId + '" class="comment"></div>');
          }
          else {
            prevCommentDiv.after('<div id="' + commentId + '" class="comment"></div>');
          }

          // Append comment contents
          let commentDiv = $("#" + commentId);
          let nameElement = '<p class="comment-name">' + name + "</p>";
          // Convert date to more readable format
          const date = new Date(dateStr);
          let dateElement = '<p class="comment-date">' + date + "</p>";
          let messageElement = '<p class="comment-message">' + message + "</p>";
          commentDiv.append(nameElement, dateElement, messageElement);

          prevCommentDiv = commentDiv;
          });


        }
      }

    });

  });
</script>