{% extends "blog/blog_to_generate/base.html" %}

{% block header %}
  <h1 class="display-1 main-title">{{ page_title }}</h1>
{% endblock header %}

{% block main %}
  <div class="divider">&#10086;&nbsp;&#10086;&nbsp;&#10086;</div>

  <h2 class="display-2 mt-3 mb-5">Stories</h2>

  <div class="mb-5">
    <ul class="stories-list text-justified">
      {% for filename, title, date_posted in stories %}
        <li>
          <a href="pages/{{ filename }}">{{ title }}</a>
          <p class="posted">Posted {{ date_posted }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock main %}
