{% extends "blog/blog_to_generate/base.html" %}

{% block title %}{{ story_title }}{% endblock title %}

{%  block stylesheets %}
  {{ block.super }}
  <link href="https://fonts.googleapis.com/css?family=Ballet|Gentium+Basic" rel="stylesheet"
        type="text/css">
  {% if local_blog %}
    <link href="../codehilite.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
  {% else %}
    <link href="https://clairempr.github.io/codehilite.css" rel="stylesheet">
    <link href="https://clairempr.github.io/style.css" rel="stylesheet">
  {% endif %}
{% endblock stylesheets %}

{% block header %}
  <div class="row">
    <span class="col-2">
      {% if local_blog %}
        <a href="../index.html">
        <img src="../images/quick_and_dirty_wordcloud.png" class="img-fluid home-image"
             alt="Home">
      {% else %}
        <a href="https://clairempr.github.io">
        <img src="https://clairempr.github.io/images/quick_and_dirty_wordcloud.png" class="img-fluid home-image"
             alt="Home">
      {% endif %}
      </a>
    </span>
    <h1 class="col-8 story-title">{{ story_title }}</h1>
    <span class="col-2"></span>
  </div>
{% endblock header %}

{% block main %}
  <article>

    <p class="posted text-center pb-3">{{ date_posted }}</p>

    <div class="divider">&#10086;&nbsp;&#10086;&nbsp;&#10086;</div>

    {% for element in story_content %}
      {{ element }}
    {% endfor %}

    {% if references %}
      <h3 class="references-header">References</h3>
      <ul class="references-list">
        {% for reference in references %}
          <li>{{ reference }}</li>
        {% endfor %}
      </ul>
    {% endif %}

  </article>

  <div class="divider">&#10086;&nbsp;&#10086;&nbsp;&#10086;</div>

  {% if staticman_url %}
    {% include "blog/blog_to_generate/partials/comments.html" %}
  {% endif %}
{% endblock main %}